#reservas .container {
    background-color: var(--primaryColor);
    width: 95%;
    margin-inline: auto;
    border-radius: 0.6rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

#reservas h3 {
    color: var(--lightColor);
}

#reservas input[type="text"],
#reservas input[type="datetime-local"],
#reservas input[type="number"] {
    filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.25));
    background-color: var(--lightColor);
    color: var(--primaryColor);
    border: none;
    padding: 5px;
    border-radius: .5rem;
    margin-block: 5px;
    width: 45%;
}

#reservas input[placeholder="Complemento"] {
    width: 90.5%;
}

#reservas input[type="text"]::placeholder,
#reservas input[type="number"]::placeholder {
    font-family: var(--poppins);
    color: var(--primaryColor);
} 

#reservas input[type="button"] {
    font-family: var(--poppins);
    background-color: var(--lightColor);
    border: none;
    padding: 5px;
    border-radius: 4px;
    color: var(--primaryColor);
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .5s;
}

#reservas input[type="button"]:hover {
    transform: scale(1.1);
    background-color: #d1d1d1;
}

#reservas a {
    display: none;
}

@media (min-width: 1024px) {
    #reservas .container {
        border-radius: 0;
        width: 100%;
    }

    #reservas h3 {
        font-size: 46px;
    }
    

    #reservas input[type="text"],
    #reservas input[type="datetime-local"],
    #reservas input[type="number"] {
        filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.25));
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        padding: 9px;
        border-radius: 12px;
        margin-block: 10px;
        margin-inline: 10px;
        width: 30%;
    }

    #reservas input[placeholder="Complemento"] {
        width: 61.4vw;
    }

    #reservas input[type="button"] {
        font-size: 16px;
        padding: 5px;
        border-radius: 12px;
        padding-inline: 15px;
        font-weight: 600;
        margin-top: 14px;
        border-radius: 4px;
        margin-bottom: 15px;
    }

    #reservas a {
        display: block;
        color: var(--lightColor);
        padding-bottom: 15px;
    }    
}